html { 
    background-color: green; 
}
.conteudo-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;

    .conteudo-form{
        border-radius: 10px;
        background-color: greenyellow;
        box-shadow: 0 30px 30px 0 gray;
        text-align: center;
        width: 45%;
        height: 350px;
        transition: all 0.5s ease-in-out;
    }

}
.input-login{
    background-color: azure;
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    margin-top: 50px;
    width: 90%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

.input-login2{
    background-color: azure;
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    width: 90%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

.mensagem-erro{
    font-size: 14px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.input-submit{
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    font-size: 13px;
}

.logo{
    font-family:Arial, Helvetica, sans-serif ;
}